asgiref==3.6.0
distlib==0.3.7
Django==3.0.14
django-binary-database-files==1.0.10
django-six==1.0.5
filelock==3.12.2
Pillow==10.0.0
platformdirs==3.10.0
pycryptodome==3.19.0
pygame==2.5.0
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
virtualenv==20.24.2
